<div class="panel panel-primay">
    <div class="panel-body">
      <div class="col-xs-10">
        <div class="row">
          <div class="col-xs-4">
            <img class="imageclass" [src]="employee.photoPath" alt="">
          </div>
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-6">
                name
              </div>
              <div class="col-xs-6">
                : {{employee.name}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                Gender
              </div>
              <div class="col-xs-6">
                : {{employee.gender}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                dateOfBirth
              </div>
              <div class="col-xs-6">
                : {{employee.dateOfBirth | date}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                department
              </div>
              <div class="col-xs-6">
                : {{employee.department}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                name
              </div>
              <div class="col-xs-6">
                : {{employee.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
